*{box-sizing: border-box; margin: 0;padding: 0}
body {
    font-family: 'Roboto', sans-serif;
    background: #eee;
}
.text-primary{
    color: dodgerblue;
}
.text-secondary{
    color: grey;
}
.text-danger{
    color: red;
}
.bg-dark {
    background: black;
}
.text-dark{
    color: black;
}
.card {
    background: white;
    border-radius: 3px;
    box-shadow: -2px 3px 3px 1px rgba(0, 0, 0, .2);
    padding: 0.3rem;
}
.bg-theme {
    background: #86C232;
    color: white;
}
.theme {
    color: #86C232;
}

.y-center{
    vertical-align: middle;
}

/* test */
.m-0 {
    margin: 0rem;
}

.m-1 {
    margin: .25rem;
}

.m-2 {
    margin: .5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.mx-0 {
    margin-left: 0rem;
    margin-right: 0rem;
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-5 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.my-0 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mt-0 {
    margin-top: 0rem;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-0 {
    margin-bottom: 0rem;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.ml-0 {
    margin-left: 0rem;
}

.ml-1 {
    margin-left: .25rem;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.ml-5 {
    margin-left: 3rem;
}

.mr-0 {
    margin-right: 0rem;
}

.mr-1 {
    margin-right: .25rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mr-5 {
    margin-right: 3rem;
}

.p-0 {
    padding: 0rem;
}

.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.px-0 {
    padding-left: 0rem;
    padding-right: 0rem;
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.py-0 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pt-0 {
    padding-top: 0rem;
}

.pt-1 {
    padding-top: .25rem;
}

.pt-2 {
    padding-top: .5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 3rem;
}

.pb-0 {
    padding-bottom: 0rem;
}

.pb-1 {
    padding-bottom: .25rem;
}

.pb-2 {
    padding-bottom: .5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pl-0 {
    padding-left: 0rem;
}

.pl-1 {
    padding-left: .25rem;
}

.pl-2 {
    padding-left: .5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pl-5 {
    padding-left: 3rem;
}

.pr-0 {
    padding-right: 0rem;
}

.pr-1 {
    padding-right: .25rem;
}

.pr-2 {
    padding-right: .5rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pr-4 {
    padding-right: 1.5rem;
}

.pr-5 {
    padding-right: 3rem;
}

.col-12,
.col-xl-7,
.col-xl-8,
.col-xl-5,
.col-xl-4,
.col-xl-12,
.col-md-7,
.col-md-5,
.col-md-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media(min-width: 0px) {
    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(min-width: 768px) {
    .col-md-5 {
        -ms-flex: 0 0 41.666%;
        flex: 0 0 41.666%;
        max-width: 41.666%;
    }
}

@media(min-width: 768px) {
    .col-md-7 {
        -ms-flex: 0 0 58.333%;
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }
}



@media(min-width: 1200px) {
    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(min-width: 1200px) {
    .col-xl-4 {
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media(min-width: 1200px) {
    .col-xl-5 {
        -ms-flex: 0 0 41.666%;
        flex: 0 0 41.666%;
        max-width: 41.666%;
    }
}

@media(min-width: 1200px) {
    .col-xl-7 {
        -ms-flex: 0 0 58.333%;
        flex: 0 0 58.333%;
        max-width: 58.333%;
    }
}

@media(min-width: 1200px) {
    .col-xl-8 {
        -ms-flex: 0 0 66.666%;
        flex: 0 0 66.666%;
        max-width: 66.666%;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* test */

.pointer {
    cursor: pointer;
}

.round {
    border-radius: 50rem !important;
}

.theme-container {
    position: fixed;
    right: -50px;
    top: 90px;
    display: flex;
    z-index: 10;
    flex-direction: column;
    transition: all 0.5s;
}

.theme-container:before {
    content: "\f104";
    position: absolute;
    background-color: white;
    color: black;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    z-index: -1;
    box-shadow: -2px 3px 2px 1px rgba(0, 0, 0, .2);
    width: 36px;
    height: 36px;
    top: 50%;
    left: -35px;
    transform: translate(0,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width : 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width : 768px) {
    .container {
        max-width: 740px;
    }
}
@media (min-width : 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width : 1200px){
    .container{
        max-width: 1140px;
    }
}


.flex-container {
    display: flex;
    align-items: center;
}
.text-center {
    text-align: center;
}
.space-btw {
    justify-content: space-between;
}

.navbar{
    display: flex;
    flex-shrink: 0;
    padding: .5rem 1rem;
    background: dodgerblue;
}
.nav-brand {
    font-size: 1.2rem;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
}
.nav-items{
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}
.nav-link{
    text-decoration: none;
    padding: .6rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.active {
    background: #393939;
    /* box-shadow: inset 2px -3px 8px 2px rgba(0, 0, 0, 0.2),
        inset -3px 2px 8px 2px rgba(0, 0, 0, 0.2); */
}


.hamburger {
    display: none;
    padding: .6rem;
}

@media (max-width : 768px) {
    .hamburger {
        display: inline-block;
    }
    .navbar-nav {
        display: none;
    }
    .theme-container {
        justify-content: center;
    }
    .user-details {
        justify-content: center;
    }
    /* .theme-container {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */
}

@media (max-width : 300px) {
    .nav-brand {
        font-size: 1rem;
    }
}

::-webkit-scrollbar {
    display: none;
}

.fixed-top{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
video {
    width: 100%;
    outline: none;
    /* border :1px solid rgba(0, 0, 0, 0.7); */
}
video[poster] {
    object-fit: cover;
}
input[type="submit"] {
    background: orangered;
    color: #393939;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
form {
    position: relative;
    background: PowderBlue;
    border-radius: 5px;
}

/* form::before {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 30%;
    height: 50%;
    background: rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .4);
    transform: translateX(3px) skew(4deg, 0deg);
    z-index: -1;
} */
img:hover {
    opacity: .9;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main-video {
    display: flex;
    /* width: 100%; */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.main-vid-title,
.vid-title {
    margin: 1rem 0.5rem 0rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.main-vid-des,
.vid-des {
    font-size: .8rem;
    margin: 1.2rem 0.5rem;
    text-indent: 30px;
}

.controls {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s;
    color: white;
}

.progress-bar {
    position: relative;
    height: 8px;
    width: 100%;
    background: grey;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    max-width: 100%;
    height: .5rem;
    background: red;
    transition: all .8s ease;
}

.carousel-container {
    display: flex;
    position: relative;
}

.Poster-container {
    background: #fff;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.poster-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.33%;
    padding-right: 1%;
}
.poster-item:last-child {
    padding-right: 0;
}

.poster {
    display: flex;
    width: 100%;
    position: relative;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: dodgerblue;
    background: white;
    border-radius: 50rem;
}

img {
    width: 100%;
    height: 180px;
    cursor: pointer;
    border-radius: 2px;
    object-fit: cover;
}

.form-control{
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: .4rem 1rem;
    border-radius: 3px;
    line-height: 1.2rem;
    font-size: 16px;
    color: #393939;
}

.form-control:focus{
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 1px 2px dodgerblue;
}

textarea {
    overflow: auto;
    resize: vertical;
}

input[type="submit"]{
    outline: none;
    border: none;
    border-radius: 3px;
}
.block{
    display: block;
    width: 100%;
}

@media (max-width:768px) {
    #navbar {
        position: relative;
    }
    #navbar-items {
        /* display: none; */
        width: 100%;
        background: rgba(0, 0, 0, .9);
        position: absolute;
        bottom: -153px;
        left: 0;
        z-index: 1;
    }
    .nav-items{
        /* display: flex; */
        flex-direction: column;
    }
    .nav-link{
        width: 100%;
        display: block;
    }
}



.network-status{
    background: grey;
    color: white;
    text-align: center;
    padding: 2px;
    transition: all 0.8s ease-in;
    transform: translateY(-35px);
}


.carousel-container .left {
    position: absolute;
    top: 20%;
    left: -1.1%;
    transform: translate(-1.1%, -20%);
}

.carousel-container .right {
    position: absolute;
    top: 20%;
    right: -1.1%;
    transform: translate(-1.1%, -20%);
}

.left,
.right {
    cursor: pointer;
    color: black;
    background: white;
    border-radius: 50rem;
}

.left:hover,
.right:hover {
    color: #333;
}

@media (min-width:992px) {
    .poster-item {
        flex: 0 0 25%;
    }
}

@media (max-width:992px) {

    .poster-item {
        flex: 0 0 25%;
    }

    img {
        height: 120px;
    }

    .carousel-container .left {
        top: 12%;
        left: -1.1%;
        transform: translate(-1.1%, -12%);
    }

    .carousel-container .right {
        top: 12%;
        right: -1.1%;
        transform: translate(-1.1%, -12%);
    }
}

@media (max-width:768px) {
    .poster-item {
        flex: 0 0 33.33%;
    }
    .show {
        display: block;
    }
}

@media (max-width:576px) {
    .poster-item {
        flex: 0 0 50%;
    }
    .nav-item{
        display: none;
    }
    
}

@media (max-width:320px) {
    .poster-item {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .carousel-container .left {
        top: 13%;
        left: -1.1%;
        transform: translate(-1.1%, -13%);
    }

    .carousel-container .right {
        top: 13%;
        right: -1.1%;
        transform: translate(-1.1%, -13%);
    }
}